__pycache__/bili_audio.cpython-313.pyc
.vscode/settings.json
music/a/info.json
music/a/m.mp3
music/as/a.mp4
music/as/info.json
music/n/a.mp3
music/n/info.json
music/n - 副本/a.mp3
music/n - 副本/info.json
plugin/a.json

bili_audio.py
a.py
cookies.txt
