__pycache__/
__pycache__/bili_audio.cpython-313.pyc
.vscode/settings.json
music/a/info.json
music/a/m.mp3
music/as/a.mp4
music/as/info.json
music/n/a.mp3
music/n/info.json
music/n - 副本/a.mp3
music/
plugin/a.json

bili_audio.py
a.py
cookies.txt
__pycache__/b.cpython-313.pyc
_verify_fix3.py
_verify_fix2.py
_verify_fix.py
b.py
exit
config.json
plugin/
tmp*
.idea
j.py
__pycache__/j.cpython-313.pyc
*.log
dsh*
_t*
plugin*